<html>

  <head>
    <title>The Gossip Project - Page du potin </title>
  </head>
  
  <body>
       <h1> PAGE DU POTIN </h1>
          <p> 
            Voici la page du potin n°<%=params['id'].to_i%><br>
            Son auteur : <%= p params["gossip_author"] %><br>
            Le contenu du potin : <%= p Gossip.find(id) %> 
          </p> 

      <a href="/">Retour à la page d'accueil</a>

  </body>

</html>